# Disable local mail
MAILTO=""

# Load ruby via .rbenv (so we can run ruby-based backup scripts)
PATH="/usr/local/heroku/bin:/Users/patrick/.rbenv/shims:/Applications/Postgres.app/Contents/MacOS/bin:/usr/local:/usr/l$

# Sleep display (when waking to backup)
1       7       *       *       *       /Applications/SleepDisplay.app/Contents/MacOS/sleepdisplay

# Brighten screen in morning
# 1     7       *       *       *       /usr/bin/osascript /Users/patrick/Library/Scripts/Toggle\ Shades.app

# Unmute volume in morning
1       7       *       *       *       /usr/bin/osascript -e 'set volume output volume 25'

# Darken screen at night
# 30    17      *       *       *       /usr/bin/osascript /Users/patrick/Library/Scripts/Toggle\ Shades.app

# Backup Cinema Treasures and Graffletopia databases
1       18      *       *       *       /Users/patrick/.rbenv/shims/ruby /Users/patrick/Library/Backup/Scripts/sites/ci$
1       18      *       *       *       /Users/patrick/.rbenv/shims/ruby /Users/patrick/Library/Backup/Scripts/sites/gr$

# Backup Graffletopia assets locally
1       18      *       *       *       /usr/local/bin/aws s3 sync s3://assets.graffletopia.com/production /Users/patri$

# Backup Graffletopia assets online (by syncing them to another AWS account)
5       18      *       *       *       /usr/local/bin/aws s3 sync s3://assets.graffletopia.com s3://graffletopia.daily$
10      18      *       *       6       /usr/local/bin/aws s3 sync s3://assets.graffletopia.com s3://graffletopia.weekl$
15      18      1       *       *       /usr/local/bin/aws s3 sync s3://assets.graffletopia.com s3://graffletopia.month$

# Mute volume before bedtime
1       20      *       *       *       /usr/bin/osascript -e 'set volume 0'

# Stop iTunes playback before bedtime (in case it was left running)
1       20      *       *       *       /usr/bin/osascript -e 'tell application "iTunes" to pause'

# Update Photos
0       20      *       *       *       /usr/bin/open -a Photos
15      20      *       *       *       /usr/bin/osascript -e 'quit app "Photos"'

# Reset Wifi once per day (at 7am)
0       7       *       *       *       /usr/sbin/networksetup -setairportpower en1 off; /usr/sbin/networksetup -setair$

# Update dotfiles every hour
0       *       *       *       *       source /Users/patrick/.bash_profile; /bin/sh /Users/patrick/.dotfiles/install.s$

# Remove Dropbox checkmarks every minutes
*       *       *       *       *       /bin/sh /Users/patrick/.dropbox.remover.sh
