/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */


// TABS
.tab-bar {

  // Hide tab bar if no tabs are present
  li:only-child {
    display: none;
  }

  // Increase tab text size
  .title {
    font-size: 12px;
  }

  // Show project header tab
  li[data-type="TreeView"] {
    background: #eee !important;
    display: block !important;
    height: 41px;
    padding-bottom: 8px !important;
    .title {
      color: #eee;
    }
  }

}


// EDITOR
atom-text-editor {

  // SCROLL VIEW
  .scroll-view {

    // Add space between tab bar and editor
    padding-top: 5px;

    // Add support for selecting lines by clicking between the gutter and left text edge
    & > div {
      padding-left: 12px;
    }

    // Selected text should be dark gray
    .selection .region {
      background-color: #222 !important;
    }

  }

  // GUTTER

  // Improve gutter appearance
  .gutter-container {
    // Change background to match theme
    background-color: #eee !important;
  }
  .gutter {
    // Change background to match theme
    background-color: #eee;

    // Push line numbers down
    margin-top: 6px;

    // Tweak line number styles
    .line-number {

       // Darken text
       color: #888;

       // Increase text opacity
       opacity: 1;

       // Highlight selected line
       &.cursor-line {
         color: #333;
         background: #ccc;
         opacity: 0.8;
       }

       // Disable code folding
       .icon-right {
         opacity: 0 !important;
         margin: 0 -1px;
         pointer-events: none;
       }
     }
  }

}


// TREE VIEW
.tree-view {
  margin-top: -24px;
  
  // Tweak background color
  background: #eee;
  
  // Increase text size
  font-size: 12px;
  
  // Directories should be bold
  .header {
    font-weight: bold !important;
    opacity: 0.6;
  }
  
  // Tweak left margins
  .directory .entries {
    margin-left: -12px;
    & > li {
     margin-left: 3px;
     li {
       margin-left: 18px;
     }
   }
  }
  
  // Hide file directory icons
  .icon-file-directory::before {
    content: none;
  }
  
  // Tweak list item selected state colors
  li.selected:before {
    background: #ccc;
  }
  
  // Tweak project root top margin
  .project-root:first-child {
    margin-top: 8px;
  }
  
  // Tweak space between project root and entries
  &.list-tree.has-collapsable-children .project-root.list-nested-item > .list-item {
    padding-bottom: 0px;
  }
  
  // Align project root header with directory list
  .project-root-header {
    padding-left: 6px;
  }
  
  // Hide disclosure triangle on project root header
  .project-root-header.list-item::before {
    content: none !important;
  }
  
}


// TREE VIEW (PROJECT HEADER / README TWEAKS)
.atom-dock-open .tree-view {
  
  // Replace project panel with app directory
  .project-root-header {
    color: #777 !important;
    border-bottom: 1px solid #ccc;
    margin-left: -6px;
    margin-right: -12px;
    margin-top: -24px;
    background: #eee;
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 1;
  }
  
  // Move README files to the top of tree view
  .entry .name[data-name="README"],
  .entry .name[data-name="README.md"] {
    color: #777 !important;
    min-width: 275px;
    padding-right: 6px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 101;
  }

  // Tweak README right padding for READMEs with no file extension
  .entry .name[data-name="README"] {
    padding-right: 6px;
  }

  // Hide README file icon
  .entry .icon[data-name="README"]::before,
  .entry .icon[data-name="README.md"]::before,
  .entry .icon[data-name="README.txt"]::before {
    display: none;
  }

  // Disable README selected state text color
  &:focus .entry .name[data-name="README"],
  &:focus .entry .name[data-name="README.md"],
  &:focus .entry .name[data-name="README.txt"] {
    color: #555;
    text-shadow: none;
  }

  // Disable README selected state background color
  .entries li.list-nested-item:nth-child(1) ~ li.list-item:last-child::before {
    // assuming repo contains at least one directory
    background: none !important;
    background-image: none !important;
  }

  // Reset selected state for all other nested directories
  .entries .entries li.list-item.selected:last-child::before,
  .entries .entries .entries li.list-item.selected:last-child::before,
  .entries .entries .entries .entries li.list-item.selected:last-child::before,
  .entries .entries .entries .entries .entries li.list-item.selected:last-child::before,
  .entries .entries .entries .entries .entries .entries li.list-item.selected:last-child::before {
    background-image: linear-gradient(#bbb, #bbb) !important;
  }
  &:focus .entries .entries li.list-item.selected:last-child::before,
  &:focus .entries .entries .entries li.list-item.selected:last-child::before,
  &:focus .entries .entries .entries .entries li.list-item.selected:last-child::before,
  &:focus .entries .entries .entries .entries .entries li.list-item.selected:last-child::before,
  &:focus .entries .entries .entries .entries .entries .entries li.list-item.selected:last-child::before {
    background-image: linear-gradient(#2C84CB, #2C84CB) !important;
  }

  // Disable pointer events
  &.list-tree.has-collapsable-children .project-root.list-nested-item > .list-item {
    pointer-events: none;
  }

  // Change project root selected state text color to gray
  // when project root does not contain a README.md file
  &:focus .project-root.selected.entry > .header > .name {
    color: #555;
  }

  // Collapse README parent list element
  // (needs CSS parent selector to work)
  // .entry .list-item {
  //   padding: 0 !important;
  //   margin: 0 !important;
  //   height: 0 !important;
  //   min-height: 0 !important;
  //   display: inline !important;
  // }
  
}


// ICONS

// Dim icons
.header.list-item::before,
.icon::before {
  opacity: 0.4;
}

// Hide git status icons for expanded directories
.status-added > .header.list-item:after,
.status-ignored > .header.list-item:after,
.status-modified > .header.list-item:after,
.status-removed > .header.list-item:after,
.status-renamed > .header.list-item:after {
  display: none;
}


// DOCK
.atom-dock-toggle-button-visible {

  // Hide dock toggle
  opacity: 0;
  
  // But show on hover
  &:hover {
    opacity: 1;
  }
  
}


// BOTTOM PANEL

// Tweak background color
atom-panel.bottom {
  background-color: #eee;
}


// STATUS BAR

// Tweak release notes icon color
.release-notes-status {
  color: #aaa;
}


// BACKGROUND APPEARANCE

// Dim UI when app is in background
.is-blurred {
  .gutter,
  .scroll-view,
  .bottom,
  .tab-bar {
    opacity: 0.7;
  }
  .atom-dock-open {
    .tab-bar {
      opacity: 1;
    }
    .icon-repo {
      opacity: 0.7;
    }
    .entry .name {
      opacity: 0.7;
    }
  }
}
